body {
  padding: 10px;
}

.tabPanel {
  display: box;
  border: 2px blue;
  padding: 2px;
}

.searchAndDisplayPanel {
  display: box;
  border: 2px blue;
  padding: 2px;
}

.searchPanel {
  display: inline;
  border: 2px blue;
  padding: 2px;
}

.searchBox {
  border: 2px blue;
}

.scrollDownBox {
  border: 1px grey;
}

.searchButton {
  width: 50px;
}
