body {
  padding: 10px;
}

.tabPanel {
  display: box;
  border: 2px blue;
  padding: 2px;
}

.searchAndDisplayPanel {
  display: box;
  border: 2px blue;
  padding: 4px;
  margin: 10px 0px 15px 0px;
}

.searchPanel {
  border: 2px blue;
  padding: 4px;
  margin: 10px 0px 15px 0px;
}

.searchBox {
  border: 2px blue;
  padding: 8px;
  margin: 10px 0px 15px 0px;
}

.scrollDownBox {
  border: 1px grey;
  padding: 8px;
  margin: 10px 0px 15px 0px;
}

.searchButton {
	
  padding: 8px;
  text-align: center;
  margin: 10px 0px 15px 0px;
}
